{% load static %}

<footer>
    <div class="row" id="contacts">
        <div class="col-sm-0 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <div style="margin-bottom: 5vh">
                <a name="contacts" href="https://vk.com/ecoteam.fefu" style="padding-right: 3vh">
                    <img width="35vh" src="{% static 'site-icons/vk.png' %}">
                </a>
                <a href="https://www.instagram.com/ecoteam.fefu/">
                    <img width="34vh" src="{% static 'site-icons/inst.png' %}">
                </a>
            </div>
            <div>© FEFU ECO TEAM 2020. ВСЕ ПРАВА ЗАЩИЩЕНЫ</div>
        </div>
        <div class="col-sm-0 col-md-2"></div>
    </div>
</footer>
